# For all required env vars to run functional test
PAT=YOUR_PERSONAL_ACCESS_TOKEN
CLIENT_ID=43bf50e9-8e07-4a55-9c8d-c8fdb815da2b
CLIENT_KEY=4964ee22-051d-46a3-b471-478ee32b7f48
REFRESH_TOKEN=YOUR_REFRESH_TOKEN